.timeline {
  margin: 10px 20px;
  &_label {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
  }
}

.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
  box-shadow: none;
}