.chart-legend-info {
  padding: 0 20px;
}
.chart-legend-info_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--title-font-family);
  color: var(--title-color);
}

.chart-legend-info_text {
  text-align: justify;
}
