.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip_text, .tooltip_text::after {
  position: absolute;
  z-index: 1;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-33.333px, -60px);
  width: 100px;
  height: 40px;
  background-color: #fff;
  color: #888888;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  box-shadow: 1px 5px 20px 0px #b9b9b9;
  font-size: 14px;
}

.tooltip_text::after {
  /* height: 10px;
  width: 33.333px;
  content: "a";
  background-color: transparent;
  transform: translate(0, 33.33px); */
}

.tooltip:hover .tooltip_text, .tooltip:hover .tooltip_text::after {
  visibility: visible;
}

