@import"../../../../../../style/variables";

.chart_legend_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &_block {
    display: flex;
    align-items: center;
    justify-content: start;
    &_title {
      font-size: 14px;
      font-family: $title-font-family;
      margin: 0;
    }
  }
}
